{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Create a new crop</title>
<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
  <div class="container">
    <div class="disclaimer-banner">
    <p>This app is not a professional agronomics service and should not be used without consultation of a professional agronomist. We are not liable for any crop failure.</p>
</div>
    <form method='post'>
      {% csrf_token %}
      <div class="form-group">
        <label for="{{ form.crop.id_for_label }}">Crop:</label>
        {{ form.crop }}
      </div>
      <div class="form-group">
        <label for="{{ form.postal_code.id_for_label }}">Postal Code:</label>
        {{ form.postal_code }}
      </div>
      <div class="form-group">
        <label for="{{ form.soil_type.id_for_label }}">Soil Type:</label>
        {{ form.soil_type }}
      </div>
      <div class="form-group">
        <label for="{{ form.soil_pH_level.id_for_label }}">Soil pH Level:</label>
        {{ form.soil_pH_level }}
        </div>

      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </form> 
    {% if sop %}
    <h3>Standard Operating Procedure for {{ form.crop.value }} in {{ form.postal_code.value }}</h3>
    <ol class="sop">
        {% for step in sop.split(""\n) %}
            {% if forloop.counter == 1 %}
                <li>{{ step|safe }}</li>
            {% endif %}
        {% endfor %}
    </ol>
{% endif %}

  </div>
</body>
</html>
